Repository stack-review/stackreview-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --fix, pretty-quick --staged, jsonlint, prettier --write, yamllint

.lintstagedrc.json:

{
  "**/*.js": ["yarn lint --fix", "pretty-quick --staged"],
  "*.json": ["jsonlint", "prettier --write"],
  "*.yaml": ["yamllint", "prettier --write"]
}

resolved
  package-lock.json
  pages/NewPost.js
Due: yarn lint --fix, pretty-quick --staged, jsonlint, prettier --write

resolved
  components/CodeDescriptionBox.jsx
  components/Layout.jsx
  pages/NewPost.js
Due: yarn lint --fix, pretty-quick --staged

resolved
  components/Layout.jsx
  pages/NewPost.js
Due: yarn lint --fix, pretty-quick --staged

using html textarea
  components/CodeDescriptionBox.jsx
Due: none

Update _app.js
  pages/_app.js
Due: yarn lint --fix, pretty-quick --staged

after pulling from master
  pages/NewPost.js
Due: yarn lint --fix, pretty-quick --staged

changed design
  components/editor.jsx
  package-lock.json
  package.json
  pages/NewPost.js
Due: yarn lint --fix, pretty-quick --staged, jsonlint, prettier --write

Added Posts To Homepage
  components/Layout.jsx
  components/Post.jsx
  components/PostContainer.jsx
  package-lock.json
  package.json
  pages/_app.js
  pages/index.js
  styles/globals.css
Due: yarn lint --fix, pretty-quick --staged, jsonlint, prettier --write

added form, can't add ace to it though
  components/CodeDescriptionBox.jsx
  components/Layout.jsx
  components/editor.jsx
  package-lock.json
  package.json
  pages/NewPost.js
Due: yarn lint --fix, pretty-quick --staged, jsonlint, prettier --write

colors changes, text size increased, dropdown removed
  components/editor.jsx
  pages/NewPost.js
Due: yarn lint --fix, pretty-quick --staged

fix(app): use env variable
  pages/_app.js
Due: yarn lint --fix, pretty-quick --staged

refactor: migrate hook inside provider
  components/Layout.jsx
  pages/_app.js
Due: yarn lint --fix, pretty-quick --staged

chore(pkg): fetch env from vercel before dev
  package.json
Due: jsonlint, prettier --write

Update package.json
  package.json
Due: jsonlint, prettier --write

Update Layout.jsx
  components/Layout.jsx
Due: none

Added Sample Posts to Homepage
  components/Layout.jsx
  components/Post.jsx
  components/PostContainer.jsx
  package-lock.json
  package.json
  pages/NewPost.js
  pages/_app.js
  styles/globals.css
Due: yarn lint --fix, pretty-quick --staged, jsonlint, prettier --write

new snippet button in navbar
  components/AddPostNav.jsx
  components/Header.jsx
Due: none

feat(api): add languages endpoint
  pages/api/languages.js
Due: yarn lint --fix, pretty-quick --staged

chore: setup openapi doc page using swagger-ui-dist
  public/api-doc/absolute-path.js
  public/api-doc/favicon-16x16.png
  public/api-doc/favicon-32x32.png
  public/api-doc/index.html
  public/api-doc/index.js
  public/api-doc/oauth2-redirect.html
  public/api-doc/swagger-ui-bundle.js
  public/api-doc/swagger-ui-standalone-preset.js
  public/api-doc/swagger-ui.css
  public/api-doc/swagger-ui.js
Due: yarn lint --fix, pretty-quick --staged

feat(swagger): add swagger definition
  public/swagger/swagger.json
  public/swagger/swagger.yaml
Due: jsonlint, prettier --write, yamllint

fix(swagger): add missing property
  public/swagger/swagger.yaml
Due: prettier --write, yamllint

docs(readme): add api doc section
  README.md
Due: none

feat(api): implemnt base logic to send errors
  lib/api/auth.js
  lib/api/error.js
Due: yarn lint --fix, pretty-quick --staged

feat(codereview): draft
  pages/api/codereview/index.js
Due: yarn lint --fix, pretty-quick --staged

chore: switch lock file to npm
  package-lock.json
  yarn.lock
Due: jsonlint, prettier --write

chore: add statuses dep
  package-lock.json
  package.json
Due: jsonlint, prettier --write

chore(jsconfig): update paths
  jsconfig.json
Due: jsonlint, prettier --write

feat(languages): add static list in config
  config/languages.js
  pages/api/languages.js
Due: yarn lint --fix, pretty-quick --staged

feat(api/create-review): implement dump service
  pages/api/codereview/index.js
Due: yarn lint --fix, pretty-quick --staged

chore: add @hapi/joi dep
  package-lock.json
  package.json
Due: jsonlint, prettier --write

feat(api/validation): add validation layer
  lib/api/validation/createReview/schema.js
  lib/api/validation/index.js
Due: yarn lint --fix, pretty-quick --staged

feat(error): add support for sending json response
  lib/api/error.js
Due: yarn lint --fix, pretty-quick --staged

chore: add swr
  package-lock.json
  package.json
Due: jsonlint, prettier --write

feat(languages): migrate to value / label
  config/languages.js
Due: yarn lint --fix, pretty-quick --staged

feat: add useAccessToken hook
  lib/useAccessToken.js
Due: yarn lint --fix, pretty-quick --staged

feat(api): upgrade createCodeReview service
  lib/api/validation/createReview/schema.js
  pages/api/codereview/index.js
Due: yarn lint --fix, pretty-quick --staged

feat(app): add auth0 scope
  pages/_app.js
Due: yarn lint --fix, pretty-quick --staged

feat(app): add swr config
  pages/_app.js
Due: yarn lint --fix, pretty-quick --staged
