Repository stack-review/stackreview-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --fix, pretty-quick --staged, jsonlint, prettier --write, yamllint

feat(api): add helpers
  lib/api/auth.js
  lib/fetch.js
Due: yarn lint --fix, pretty-quick --staged

feat(lib): add auth helpers
  lib/auth0.js
Due: yarn lint --fix, pretty-quick --staged

feat: add example pages
  components/Footer.jsx
  components/Layout.jsx
  pages/example/create-code-review.js
  pages/example/languages.js
Due: yarn lint --fix, pretty-quick --staged

feat(example): add integration examples
  components/Footer.jsx
  pages/example/create-code-review.js
  pages/example/get-code-review-list.js
Due: yarn lint --fix, pretty-quick --staged

feat(db): add mongo db layer
  lib/db.js
Due: yarn lint --fix, pretty-quick --staged

feat(api/codereview): implement createCodeReview and getCodeReviewList
  pages/api/codereview/index.js
Due: yarn lint --fix, pretty-quick --staged

feat(api/create-review/schema): add missing fields
  lib/api/validation/createReview/schema.js
Due: yarn lint --fix, pretty-quick --staged

Update _app.js
  pages/_app.js
Due: yarn lint --fix, pretty-quick --staged

chore: add mongodb dep
  package-lock.json
  package.json
Due: jsonlint, prettier --write

new snippet button in navbar
  components/AddPostNav.jsx
  pages/NewPost.js
Due: yarn lint --fix, pretty-quick --staged

new snippet button in navbar
  components/AddPostNav.jsx
  components/Header.jsx
  pages/_app.js
  pages/index.js
Due: yarn lint --fix, pretty-quick --staged

changed _app.js config
  pages/_app.js
Due: yarn lint --fix, pretty-quick --staged

url replace
  components/AddPostNav.jsx
Due: none

feat: add code snippet to try limit FOUC effect
  pages/_app.js
  pages/_document.js
Due: yarn lint --fix, pretty-quick --staged

fixed appending problem by moving dummy posts from layout to index.js
  components/AddPostNav.jsx
  components/Layout.jsx
  components/Post.jsx
  package.json
  pages/index.js
Due: yarn lint --fix, pretty-quick --staged, jsonlint, prettier --write

Update package.json
  package.json
Due: jsonlint, prettier --write

restored dev script
  package.json
Due: jsonlint, prettier --write

Revert "Newpostpage"
  components/AddPostNav.jsx
  components/Header.jsx
  components/Layout.jsx
  components/Post.jsx
  pages/NewPost.js
  pages/_app.js
  pages/index.js
Due: yarn lint --fix, pretty-quick --staged

fixed appending
  components/AddPostNav.jsx
  components/Layout.jsx
  pages/index.js
Due: yarn lint --fix, pretty-quick --staged

added schema validation with yup
  package-lock.json
  package.json
  pages/NewPost.js
Due: yarn lint --fix, pretty-quick --staged, jsonlint, prettier --write

Added Apache license
  LICENSE
Due: none

fix(api/create-review/schema): fix empty description issue
  lib/api/validation/createReview/schema.js
Due: yarn lint --fix, pretty-quick --staged

feat(add-post-nav): fix href
  components/AddPostNav.jsx
Due: none

feat(layout): add index link
  components/Layout.jsx
Due: none

chore(db): remove log
  lib/db.js
Due: yarn lint --fix, pretty-quick --staged

feat(api/codereview): handle author for anonymous review
  pages/api/codereview/index.js
Due: yarn lint --fix, pretty-quick --staged

feat(index): fix loading outside of layout
  pages/index.js
Due: yarn lint --fix, pretty-quick --staged

feat(post-container): inject comments
  components/PostContainer.jsx
  components/PostContainer/Avatar.jsx
  components/PostContainer/Comment.jsx
  components/PostContainer/CommentForm.jsx
  components/PostContainer/index.jsx
Due: none

chore: do some cleaning
  components/Footer.jsx
  components/Layout.jsx
  pages/api/codereview/index.js
  pages/api/hello.js
  pages/example/create-code-review.js
  pages/example/get-code-review-list.js
  pages/example/languages.js
Due: yarn lint --fix, pretty-quick --staged

feat(index): small fixes
  pages/index.js
Due: yarn lint --fix, pretty-quick --staged

feat(api/codereview): implement some API routes
  pages/api/codereview/[rid].js
  pages/api/codereview/[rid]/comment.js
Due: yarn lint --fix, pretty-quick --staged

feat(post): add creation page
  components/AddPostNav.jsx
  pages/post/new.js
Due: yarn lint --fix, pretty-quick --staged

feat: add material loader
  components/Loader.jsx
Due: none

feat(post): add post page with logic for its comments
  pages/post/[rid].js
Due: yarn lint --fix, pretty-quick --staged

fix(post/new): fix submission issues
  pages/post/new.js
Due: yarn lint --fix, pretty-quick --staged

Path conditions:
  yarn lint --fix: any of: **/*.js
  pretty-quick --staged: any of: **/*.js
  jsonlint: any of: *.json
  prettier --write: (any of: *.json) or (any of: *.yaml)
  yamllint: any of: *.yaml
